# checksums

/checksums/

# rcov generated
/coverage/
coverage.data

# rdoc generated
/rdoc/

# yard generated
/doc
/.yardoc/

# bundler
/.bundle/
Gemfile.lock
Gemfile.local

# rbenv
.ruby-version

# rspec
#/spec/examples.txt
#/.test_queue_stats

/pkg/

# For vim:
*.swp

# For bundle binstubs
/bin/*

# For stackprof or others
/tmp/

.ruby-version
